<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michl.aimission">

    <application
        android:name=".utitlity.Aimission"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".landingpageScene.views.LandingpageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".goalScene.views.GoalActivity" />
        <activity android:name=".goalsScene.views.GoalsActivity" />
        <activity android:name=".infoScene.views.InfoActivity" />
        <activity android:name=".settingScene.views.SettingsActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".registerScene.views.RegisterActivity"></activity>
    </application>

</manifest>